.main_heading {
    color: Cyan;
    font-family: Century Gothic;
    margin: 50px 0px 20px 0px;
}

.login_screen1 {
    margin: 50px 0px -30px 0px;
    font: 20px Century Gothic;
    ;
    background-color: gold;
    border: 3px outset white;
    border-radius: 4px;
    padding: 10px;
}

.login_screen2 {
    margin: 50px 0px -30px 0px;
    font: 20px Century Gothic;
    background-color: orangered;
    border: 3px outset white;
    border-radius: 4px;
    padding: 11px 21px 11px 21px;
}

.login_screen1:hover {
    background-color: white
}

.login_screen2:hover {
    background-color: white
}

.login_box {
    margin: 60px 35% 0px 35%;
    color: black;
    font-family: Century Gothic;
    border: 3px solid white;
    border-radius: 3px;
    background: linear-gradient(to top, gold, white);
    padding: 10px;
}

.login_box1 {
    border: 1px none;
    border-radius: 3px;
    padding: 12px 20px;
    margin: 8px 0;
}

.login_box2 {
    border: 1px none;
    border-radius: 3px;
    padding: 12px 20px;
    margin: 8px 0;
}

.login_submit {
    margin-top: 15px;
}

.all_page {
    background: linear-gradient(to bottom, MediumBlue, white);
}

.InstaB {
    padding: 10px 14px 10px 15px;
    border-style: solid;
    border-radius: 100%;
    color: white;
    font: bold 10px verdana;
    background-color: deeppink;
    margin: 8px;
}

.InstaB:hover {
    background-color: gold
}

.TwitterB {
    padding: 10px 13px 10px 13px;
    border-style: solid;
    border-radius: 100%;
    color: white;
    font: bold 10px verdana;
    background-color: deepskyblue;
    margin: 8px;
}

.TwitterB:hover {
    background-color: gold
}

.GithuB {
    padding: 10px 13px 10px 12px;
    border-style: solid;
    border-radius: 100%;
    color: white;
    font: bold 10px verdana;
    background-color: black;
    margin: 8px;
}

.GithuB:hover {
    background-color: gold
}

.LinkedInB {
    padding: 10px 14px 10px 14px;
    border-style: solid;
    border-radius: 100%;
    color: white;
    font: bold 10px verdana;
    background-color: dodgerblue;
    margin: 8px;
}

.LinkedInB:hover {
    background-color: gold
}

.MailB {
    padding: 10px 12px 10px 12px;
    border-style: solid;
    border-radius: 100%;
    color: red;
    font: bold 10px verdana;
    background-color: white;
    margin: 8px;
}

.MailB:hover {
    background-color: gold
}

.contactinfo {
    font: bold 30px Century Gothic;
    color: black;
    margin-top: 65px;
}